
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #aaaaaa;
  background-color: #dddddd;
  padding-top: 0px;
}

body, .wrapper 
{
	min-width: 0;
	width: auto;
}

#fb-root{display:none}

.ourheader {
	display:none;
}

.navbar-inner .container {
  min-height: 20px;
  width: auto;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 10px;
}

.navbar-fixed-bottom {
	display:none;
}	

.navbar .btn {
	display: none;
}

.navbar .nav {
	display: none;
}

.navbar {
  width: auto;
}

.navbar-inner {
  min-height: 20px;
  width: auto;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 5px 5px 5px 5px;
  font-size: 24px;
  height: 28px;
  width: 100%;
  font-weight: bold;
  line-height: 1;
  background-image: url(Reddlink-big.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 28px;  
}

.ourbutton {
	display: inline-block;
	*display: inline;
	 /* IE7 inline-block hack */
	*zoom: 1;
	margin-bottom: 0px;
	line-height: 18px;
	*line-height: 20px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	vertical-align: middle;
	cursor: pointer;
	margin-right: 0px;
	padding: 1em;
	padding-left:15px;
	padding-right:15px;
	-webkit-border-radius: 0.3em; 
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	width: 123px;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}



.ourbutton:active {
	position: relative;
	top: 1px;
}

.ourbutton2 {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	outline: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	margin-right: 0px;
	padding: 0.8em 0.3em 0.8em 0.3em;
	-webkit-border-radius: 0.3em; 
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	width: 93px;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;

}

.ourbutton2:active {
	position: relative;
	top: 1px;
}

.ourbutton3 {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	outline: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
    margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0.3em 0.3em 0.3em 0.3em;
	-webkit-border-radius: 0.3em; 
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	width: 93px;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}

.ourbutton3:active {
	position: relative;
	top: 1px;
}

.table {
  display: none;
}

.table-mobile {
  display: block;
  /*max-width: 100%; */
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  width: 318px;
}

.tablebottom {
 display: none;
 }

.table-mobilebottom {
 display: block;
  /*max-width: 100%; */
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0px 1px;
  margin-top: 1px;
  border-top: solid 2px #333333;
  margin-left: auto;
  margin-right: auto;
  width: 314px;
}

